# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so
__pycache__/*
*.pyc
.env
*.log

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local# Logs
*.log
logs/
ai_saturday_venv/
venv/
env/
gensim_env/
*_env/
*_venv/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/